.main-container{
    min-height: 100vh;
}

.footer{
    background-color:aliceblue;
}

.employee-card{
    border: 2px solid #afc7ff;
    border-radius: 2em;
}

.add-employee:hover{
    cursor: pointer;
}